<p class="bg-white mt-5 rounded text-dark p-3">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas veritatis, doloremque eveniet, earum vel deserunt nihil repellat vitae dolorum sed eaque iusto culpa rerum, exercitationem debitis molestiae a voluptatum velit.
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum illo fugit tempora labore error amet earum similique voluptate quam sint? Debitis at quibusdam in? Possimus similique dolores cum quas architecto?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, sequi ea vel, aperiam nemo, explicabo odit autem culpa ad quo hic eum velit pariatur suscipit atque est labore ipsum recusandae?
</p>
