<h2 class="mt-5">{{title}}</h2>

<p>Nombre de personne : {{nombre_personne}}</p>

<p>Prix par personne : {{prixPersonne()}}</p>

<p>Prix total : {{pricetotal}}€</p>
<p>Code promo: REDUC<br>
  à l'input <input type="text" class="form-control" (input)="verifyPromo($event)"><br>
  au keyup : <input type="text" class="form-control" (keyup)="keyUp()"><br>
  au blur : <input type="text"  class="form-control"(blur)="blur()"><br>
</p>
<app-more-less [value]="nombre_personne" [min]="1" [max]="6" (valChange)="nombre_personne = $event"></app-more-less>
